### 8월 19일 오늘은 파이썬 첫 시작날이다

In [18]:
print("야임마")

야임마

In [19]:
a=0o177

너는글씨를 쓰기 위해 존재하는거야 esc+M 누르면 돼

## 3-2 자료형-문자열

In [21]:
food="나는 강아지'사람"
food

"나는 강아지'사람"

\를 사용하면 특수문자로 인지해라 라는 뜻

In [26]:
print("Ex)")
print("나는,강아지")

Ex)
나는,강아지

## 8월 20일 시작이다

문자열 포메팅

In [1]:
"I eat %d apple"%2

'I eat 2 apple'

In [2]:
"I eat %s apple"%"four"

'I eat four apple'

In [4]:
number=3
"I eat %d apple"%number

'I eat 3 apple'

In [5]:
for i in range(1,10):
    print("I eat %d apple"%i)

I eat 1 apple
I eat 2 apple
I eat 3 apple
I eat 4 apple
I eat 5 apple
I eat 6 apple
I eat 7 apple
I eat 8 apple
I eat 9 apple

In [24]:

a=input("이름을 입력하시오:")
b=input("나이를 입력하시오:")
c=int(b)
"당신의 이름은%4s이고, 나이는%d세 입니다"%(a,int(b))

이름을 입력하시오: 백기림
나이를 입력하시오: 28

'당신의 이름은 백기림이고, 나이는28세 입니다'

In [25]:
len(a)

3

In [35]:
a=12345.6789
"%1.2f"%a

'12345.68'

In [30]:
#주석을 달꺼야 format 함수는 순서에 맞게 삽입시켜주는 역할을해#
"I eat {} apple{}".format(10,20)

'I eat 10 apple20'

In [36]:
"첫번째 {} 두번째 {}세번째".format(a,b)

'첫번째 12345.6789 두번째 28세번째'

In [37]:
"첫번째 {b} 두번째 {a}세번째".format(a="apple",b="banana")

'첫번째 banana 두번째 apple세번째'

#### format은 다양한 정렬이 있다
##### :< 왼쪽 정렬
##### :> 오른쪽 정렬
##### :^ 가운데 정렬
##### :=^ 빈공간 =로 채우기

In [39]:
"첫번째 {:<10} 두번째 {:>10}세번째{:^10} 네번째{:=^10}".format("a","a","a","a")

'첫번째 a          두번째          a세번째    a      네번째====a====='

In [46]:
d={'name':"백기림","age":28}
f"나의 이름은 {d['name']}이고, 나이는 {d['age']}입니다"

'나의 이름은 백기림이고, 나이는 28입니다'

#### 문자열 관련 함수들

###### count 특정 문자열 또는 단어 개수 세기
###### find 특정 문자 인덱스 위치 알려주기
###### index 위와 동일
###### join 말그대로 연결인데 특수문자도 연결 잘 시켜줌

In [49]:
a="huhuhuhuhuhuhuhuhuhuhugh"
a.count("huh")

5

In [55]:
'/'.join('abcd')

'a/b/c/d'

In [58]:
a="abcbcabc"
a.find('a')

0

In [67]:
a=a[b+1:]
a

'abcabc'

In [70]:
for i in range(0,101):
    a=[]
    a.append(i)
print(a)

[99]